.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px ;
}

.card {
  width: 100%;
  @media (min-width: 0px) {
    width: 100%;
  }

  @media (min-width: 576px) {
    max-width: 350px;
  }

  @media (min-width: 768px) {

  }

  @media (min-width: 992px) {
  }
}
