.root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.input {
  padding: 10px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;

  border: 0;
  outline: none;

  font-size: 14px;

  @media (min-width: 768px) {
    min-width: 570px;
  }


  @media (min-width: 0px) {
    min-width: 200px;
    width: max-content;
  }
}

.inputRoot {
  position: relative;
}

.inputHistory {
  position: absolute;
  left: 0;
  z-index: 101;
  margin-top: 20px;

  width: 100%;
  text-align: start;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

.hideHistory {
  display: none;
}

.textHistory {
  font: normal normal normal 14px/20px Jost;
  letter-spacing: 0px;
  color: #000000;
  cursor: pointer;

  &:hover {
    background: #F2F2F2 0% 0% no-repeat padding-box;
  }
}


.btn {
  padding: 10px 44px;

  background: #459DE9 0% 0% no-repeat padding-box;
  color: #FFFFFF;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  border: 0;

  font-size: 14px;
  letter-spacing: 0px;
}

.block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;


  height: 100vh;
  width: 100vw;
  //background: rgba(112, 112, 112, 0.34);
}
